NEXT_PUBLIC_LANGGRAPH_API_URL=http://localhost:2024
LANGCHAIN_API_KEY=
LANGGRAPH_INGESTION_ASSISTANT_ID=document_ingest
LANGGRAPH_RETRIEVAL_ASSISTANT_ID=document_qa

LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=rag-pdf-chat
